.footer-container{
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.footer-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    height: 5rem;
}

.footer-list p{
    font-size: 0.75rem;
    color: whitesmoke;
    font-weight: bold;
}